*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    }
.header{
    min-height: 100vh;
    width:100%;
    background-image:linear-gradient(rgba(62, 63, 67, 0.7),rgba(4,9,30,0.7)),
    url(images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.navigration{
    padding-left:2% ;
    padding-top: 1%;

    justify-content: space-between;
    color: aliceblue;
    padding-right: 3%;
}
.navigration ul{
    list-style-type:none;
    display: inline;
   
    padding-left: 0%;
}
.navigration li{
    display: inline;
    padding: 30px;
}
.navigration li a{
    text-decoration: none;
    color: rgb(245, 245, 241);
    
}

.navigration p{
    float: right;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.navigration li a:hover{
    color: crimson;
}

.fa{
 visibility: hidden;
}
.main-ti{
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);/*so the center of div*/
    text-align: center;
}
.main-ti a{
    font-weight: 900;
    font-size: 50px;
    text-decoration: none;
    color: rgb(235, 165, 130);
}
.main-ti h3:hover{
    color: aliceblue;
}

.special{
   align-content: center;
   padding: 10px 0px;
   width: 100%;
   margin-top: 20px;
    
}
.special h1{
    text-align: center;
    margin-bottom: 10px;
}
.sp-sub{
    width: 80%;
    display: flex;
    padding-left: 8%;
    
  justify-content: space-between;
}
.it-sp{
    flex-basis: 50%;
    padding: 20px;
    
}
.it-sp img{
    width: 100%;
    border-radius: 10px;
}


.stu-comment{
    margin: 100px auto;
    width:90%;
    padding-left:10px;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;


}
.student-sub{
   padding: 20px 40px 50px 50px;
   margin-bottom: 20px;
   background-color: blanchedalmond;
   flex-basis: 30%;
   border-radius: 20px;
   cursor: pointer;
}
.student-sub img{
    width:200px;
    padding-left: 10px;
    border-radius: 300px;
}
.student-sub:hover{
    background-color: #664b49;
    color: whitesmoke;

}
.connect{
    border:1px solid #664b49;
    color: #0e0d0e;
    margin: 30px auto;
    text-align: center;
    width: 80%;
    padding: 40px 40px ;
    size: cover;
    background-size: cover;
    background-image:   linear-gradient(rgb(230, 221, 221),rgb(255, 248, 241));
    border-radius: 10px;
    position: relative;
    background-position: center;
}
.connect p{
    padding-bottom: 20px;
}
.connect a{
    font-weight: 900;
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: #0d0c0c;
    border:2px solid white ;
    
}
.connect a:hover{
    background-color: rgb(181, 136, 122);
    
}
/*----footer---*/

.FOOTER{
    width: 100%;
    text-align:center;
    padding: 30px 0px;
    background-color: antiquewhite;
  

}
.FOOTER h4{
   margin-bottom: 25px;
   margin-top: 20px;
   font-weight: 600;
}
.FOOTER .fa{
    visibility: visible;
}
.icons .fa{
    color: #f44336;
    margin: 0em;
    cursor: pointer;
    padding: 18px 0;
}


@media(max-width:700px){
.fa{
    visibility: visible;
    display: block;
    background-color: aliceblue;
    font-size: 10px;
    cursor: pointer;
    color: black;
}
.navigration{
    display: inline;
    padding-top: 1%;
}
.navigration ul li{
    display: block;
    padding: 20px;
}
.you{
        position:absolute;
        background: #664b49;
        height: 100vh;
        width: 200px;
        top: 0;
        left: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
}
.main-ti h3{
    font-size: medium;
}
.new{
    height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7 ),rgba(4,9,30,0.7 )),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: left;
    
 }

  .course a button{
    font-weight: 900;
    width: 30%;
    font-size: smaller;
    color: rgb(252, 242, 236);
    background-color: rgb(16, 15, 15);
    cursor: pointer;
}
.contact-us{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 100px;
    justify-content: space-between;
    border: solid #fdf7f6;
    margin: 0;
    background-color: bisque;
    
}
.sp-sub{
    flex-direction: column;
}
.it-sp p{
    font-size: small;
}
.stu-comment{
    flex-direction: column;
}
.student-sub{
    margin: 10px 10px 10px 10px;
}
.student-sub img{
    width:100px;
}
.student-sub{
    flex-basis: 80%;
    font-size: small;
}
.connect{
    border:1px solid #664b49;
    color: #0e0d0e;
    margin-top: 0px;
    text-align: center;
    width: 60%;
    padding: 40px 40px ;
    size: cover;
    background-image: linear-gradient(rgb(248, 241, 241),rgb(236, 195, 153));
    
}
}
